/* Font import */
@font-face {
    font-family: 'MuseoModerno';
    src: url('../Assets/fonts/museomoderno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../Assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

