/* */
:root {
    --main-color: #736372;
    --blue-color: #247BA0;
    --green-color: #02C39A;
    --title-font: 'MuseoModerno', sans-serif;
    --main-font: 'Poppins', sans-serif;
}

/* Font import */
@font-face {
    font-family: 'MuseoModerno';
    src: url('../Assets/fonts/museomoderno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../Assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}




/* __________global elements__________*/
body {
    font-family: var(--main-font);

}

h1 {
    font-family: var(--title-font);
}

h2 {
    font-family: var(--title-font);
}

h3 {
    font-family: var(--title-font);
}

span {
    color: red;
}

/* Buttons (global Bootstrap overrides) */
.btn {
    border: black solid 0.075rem;
}

.btn:hover {
    background-color: var(--green-color);
    color: var(--main-color);
    transition: background-color 0.5s ease-in;
}

footer{
    border-top: solid 1px black;
}
footer img{
    height: 80px;
    width: auto;
}


/* __________navbar__________ */
.navbar {
    font-family: var(--title-font);
    outline: 1px solid black;
    background-color: var(--main-color);
}

.navbar-nav {
    gap: 1rem;
}

.nav-link {
    border-radius: 0.5rem;
}

.nav-link:hover {
    color: var(--main-color);
    background-color: var(--green-color);
    transition: background-color 0.5s ease;
}

.nav-item:hover {
    color: black;
}

.logo {
    border-radius: 0.75rem;
    height: 4rem;
}

.logo:hover {
    outline: var(--green-color) 0.250rem solid;
    transition: outline 0.1s ease-in;
}


/* __________index specific classes__________ */
.slogan {
    font-family: var(--title-font);

}

.slogan a {
    border: solid 2px black;
}

.portrait {
    max-width: 70%;
    height: auto;
    border-radius: 0.75rem;
}

.portrait:hover {
    outline: var(--green-color) solid 0.500rem;
    outline-offset: var(--green-color) solid 0.500rem;
    transition: outline-offset 0.1s ease, outline 0.1s ease
}

.project-image:hover {
    outline: var(--green-color) solid 0.500rem;
    outline-offset: var(--green-color) solid 0.500rem;
    transition: outline-offset 0.1s ease, outline 0.1s ease
}

.project-image {
    outline: solid 1px black;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* __________Contact specific classes __________*/
.contactblock {
    border-radius: 0.75rem;
    color: black;
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    outline: solid 1px;
}

.contactblock:hover {
    background-color: var(--green-color);
    color: var(--main-color);
    transition: background-color 0.5s ease, color 0.2s ease, outline 0.2s ease;
    outline: none;

}

.contactblock a {
    color: inherit;
    text-decoration: inherit;
}

.form-control {
    border: solid 1px black;
    box-shadow: none;

}

.form-control:focus {
    border-color: var(--green-color);
    box-shadow: 0 0 0 0.1rem var(--green-color);
}




/* __________map iframe__________ */
.embed-map-responsive {
    position: relative;
    text-align: right;
    width: 100%;
    height: 100%;
    padding-bottom: 66.6666666667%;
}

.embed-map-container {

    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.embed-map-frame {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}