.embed-map-responsive {
                        position: relative;
                        text-align: right;
                        width: 100%;
                        height: 0;
                        padding-bottom: 66.66666666666666%;
                    }

                    .embed-map-container {
                        overflow: hidden;
                        background: none !important;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .embed-map-frame {
                        width: 100% !important;
                        height: 100% !important;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }